{:paths
 ["src"]
 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1-beta1"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  medley                    {:mvn/version "1.1.0"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "test" "examples"]}
  :cljs
  {:extra-deps
   {reagent
    {:mvn/version "0.8.1"}

    den1k/shortcuts
    {:git/url "https://github.com/den1k/shortcuts"
     :sha     "871cc945bc5d6f6af4b1a46e5918c36e3d4f1949"}

    den1k/dll
    {:git/url "https://github.com/den1k/dll"
     :sha     "1948c3505f8b006f383f3cd0b1e96aedec5f7379"}

    }}
  :dev/cljs
  {:extra-deps
   {thheller/shadow-cljs {:mvn/version "2.8.2"}
    binaryage/devtools   {:mvn/version "0.9.10"}}}}
 }
