;; shadow-cljs configuration
{:deps  {:aliases [:dev/cljs]}

 ;; set an nrepl port for connection to a REPL.
 :nrepl {:port 8777}

 :builds
        {:app {:target     :browser
               :output-dir "public/js/compiled"
               :asset-path "/js/compiled"

               :modules
                           {:main
                            {:entries [examples]}}

               :devtools
               ;; before live-reloading any code call this function
                           {:before-load examples/stop
                            ;; after live-reloading finishes call this function
                            :after-load  examples/start
                            ;; serve the public directory over http at port 8700
                            :http-root   "public"
                            :http-port   8700
                            :preloads    [devtools.preload]}
               }}}
